/*Estilo general*/
html {
  background-color: #333;
  background-image: url(../images/food_doodle_detail.jpg);
  background-blend-mode: darken;
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

/*HEADER*/
header{
  /*background-color: orange;*/
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;
  transition: all 0.5s ease;
}
.header-color{
  background-color: rgba(102, 155, 231, 0.7);
}
/*Logo en el header*/
header img {
  display: inline-block;
  float: left;
  width: 70px;
  height: 70px;
  margin-top: 5px;
  margin-left: 30px;
}
/*Opciones del menú*/
ul{
  display: inline-block;
  float: left;
  text-decoration: none;
}
li{
  display: inline-block;
  margin:10px 20px;
}
li a{
  text-decoration: none;
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 1.5rem;
}
/*Fin HEADER*/

/*HOME*/
section #home{
  background-color: lightblue;
}
/*Contenedor slide*/
#home #slide {
  width: 850px;
  max-width: 100%;
  height: 560px;
  margin: 80px auto;
}
/*El slide*/
#slide .galeria-slide {
  width: 100%;
  height: 100%;
}
/*Fin HEADER*/

/*INFO-US*/

/*Estilo general de Us*/
#us{
  position: relative; /*Para ubicar el logo y texto*/
}
#us .contenedor {
  width: 100%;
  height: 600px;
  display: inline-block;
}
/*El logo*/
.contenedor .logo {
  display: inline-block;
  margin-top: 10px;
  margin-left: 100px;
}
.contenedor .logo img {
  position: absolute;
  top: 7%;
  left: 14%;
  width: 400px;
  max-width: 100%;
}
/*El texto*/
.info-us {
  position: absolute;
  top: 15%;
  right: 14%;
  width: 500px;
  max-width: 100%;
  margin-left: 20px;
}
.info-us h4 {
  font-family: 'Lobster', cursive;
  font-size: 2.8vw;
  margin: 35px 0;
}
.info-us p {
  text-align: justify;
  font-size: 1.8vw;
}
/*Fin INFO-US*/

/*LA CARTA*/
#menu {
  background: url(../images/madera2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 90%;
  margin: 0 5%;
  color: white;
  font-stretch: extra-expanded;
  display: inline-block;
}
.menu-texto{
  text-align: center;
}
.menu-texto h4 {
  font-family: 'Lobster', cursive;
  font-size: 2.7rem;
  margin: 35px auto;
}
.menu-texto p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 10px auto 35px 0;
}
#menu h5 {
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  margin: 45px auto 0 auto;
}
.menu-platos {
  display: inline-block;
  text-align: center;
  margin: 10px 50px;
}
.menu-platos .div-plato{
  display: inline-block;
  margin: 7px 5px 3px 5px;
  width: 250px;
  height: 160px;
  border-radius: 10%;
  border: 4px solid #333;
}
.div-plato img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
}
/*ARMA TU COMBO*/
#combo {
  color: #35332B;
  display: inline-block;
}
#combo .arma-logo {
  display: inline-block;
  float: left;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  margin-left: 80px;
}
.arma-logo img {
  width: 100%;
  height: 100%;
}
#combo .arma-elegidos {
  display: inline-block;
  float: left;
  background-color: #333;
  color: white;
  width: 550px;
  height: 180px;
  border-radius: 5%;
  margin: 30px 50px;
  text-align: center;
}
#combo .arma-precio {
  display: inline-block;
  float: left;
  color: white;
}
/*Fin LA CARTA*/

/*GIF*/
#gif {
  margin: 15px 5%;
  width: 90%;
  height: 300px;
  background-image: url(../images/animated.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
  text-align: center;
  padding: 15px;
}
#gif h2 {
  font-family: 'Lobster', cursive;
  font-size: 5vw;
  margin: 45px auto 0 auto;
}
/*fin*/

/*UBÍCANOS*/
section #contacto{
  width: 100%;
}
/*Mapa*/
#contacto .ubicacion{
  width: 100%;
  margin: 50px 0;
  text-align: center;
}
.ubicacion h2 {
  font-family: 'Lobster', cursive;
  font-size: 2.5rem;
}
.mapa{
  margin: 0 auto;
}
.mapa img{
  width: 600px;
  border-radius: 20px;
  box-shadow:3px 3px 10px 2px lightgray;
}
/*Formulario de contacto*/
#contacto .form-contacto{
  background-color: #333;
  margin: 0 auto;
  width: 600px;
  border: 1px solid white;
  border-radius: 5%;
  padding: 10px 20px;
  box-sizing: border-box;
  text-align: center;
}
.form-contacto h2 {
  font-family: 'Lobster', cursive;
  font-size: 2.5rem;
}
.content-contacto{
  margin: 0 auto;
  margin: 10px 0;
  display: inline-block;
  text-align: center;
}
.content-contacto input{
  margin: 6px 0;
  width: 300px;
  height: 20px;
}
::placeholder{
  padding: 5px;
  color: black;
  font-size: 14px;
}
.content-mensaje textarea{
  height: 130px;
}
.form-contacto .button-contact{
  text-align: center;
}
/*Validación*/
.tooltip span{
  display: none;
  background-color: rgba(102, 155, 231, 0.7);
  padding: 5px;
  position: absolute;
  left: 64.5%;
  margin-top: -33px;
  width: 220px;
  color: white;
  border-radius: 10px;
  transition: visibility 1 ease;
}
.tooltip span:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 10px solid rgba(102, 155, 231, 0.7);
  border-bottom: 5px solid transparent;
  position: absolute;
  right: 100%;
  top: 10px;
}
/*Fin UBÍCANOS*/

/*Social Menu Lateral*/
.social-menu ul{
  float: right;
  position: fixed;
  z-index: 3000;
  top: 25%;
  right: 15px;
  margin: 0;
}
.social-menu ul li{
  text-decoration: none;
  display: block;
  margin: 10px;
}
.social-menu ul li a{
  font-size: 2.5rem;
}
.social-menu ul li a:hover{
  color: rgba(102, 155, 231, 0.7);
}
/*Fin SOCIAL*/

/*FOOTER*/
footer{
  width: 100%;
  height: 100px;
  background-color: rgba(102, 155, 231, 0.7);
}
footer .contenedor-footer{
  margin: 0 auto;
  text-align: center;
}
.icons{
  margin: 30px 0;
  position: relative;
  top: 20px;
  font-size: 30px;
}
.icons a{
  text-decoration: none;
  color:white;
}
.text-footer{
  color: white;
}
/*Fin FOOTER*/
