/*Estilo general*/
html {
  background-color: #333;
  background-image: url(../images/food_doodle_detail.jpg);
  background-blend-mode: darken;
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  z-index: 1;
}

/*HEADER*/
header{
  /*background-color: orange;*/
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;
  transition: all 0.5s ease;
}
.header-color{
  background-color: rgba(102, 155, 231, 0.7);
}
/*Logo en el header*/
header img {
  display: inline-block;
  float: left;
  width: 70px;
  height: 70px;
  margin-top: 5px;
  margin-left: 15%;
}
/*Opciones del menú*/
ul{
  display: inline-block;
  float: left;
  text-decoration: none;
  margin-left: 3%;
}
li{
  display: inline-block;
  margin:10px 20px;
}
li a{
  text-decoration: none;
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 1.5rem;
}
/*Fin HEADER*/

/*HOME*/
section #home{
  background-color: lightblue;
}
/*Contenedor slide*/
#home #slide {
  width: 850px;
  max-width: 100%;
  height: 560px;
  margin: 80px auto;
}
/*El slide*/
#slide .galeria-slide {
  width: 100%;
  height: 100%;
}
/*Fin HEADER*/

/*INFO-US*/
/*#us{
  position: relative; /*Para ubicar el logo y texto*/
}*/
#us .contenedor {
  display: inline-block;
  width: 90%;
  text-align: center;
  z-index: 2;
  margin: 20px;
}
/*El logo*/
.contenedor .logo {
  display: inline-block;
  text-align: center;
  float: left;
  margin-top: 30px;
  margin-left: 10%;
  margin-bottom: 50px;
  width: 350px;
  max-width: 100%;
}
.contenedor .logo img {
  width: 100%;
}
/*El texto*/
.info-us {
  display: inline-block;
  float: left;
  text-align: center;
  background-color: #333;
  width: 600px;
  max-width: 100%;
  margin-top: 30px;
  margin-left: 50px;
  margin-bottom: 50px;
  padding: 40px;
}
.info-us h4 {
  font-family: 'Lobster', cursive;
  font-size: 2.8vw;
  margin: 35px 0;
}
.info-us p {
  text-align: justify;
  font-size: 1.5vw;
}
/*Fin INFO-US*/

/*LA CARTA*/
#menu {
  background: url(../images/madera2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 90%;
  margin: 0 5%;
  color: white;
  font-stretch: extra-expanded;
  display: inline-block;
}
.menu-texto{
  text-align: center;
}
.menu-texto h4 {
  font-family: 'Lobster', cursive;
  font-size: 2.7rem;
  margin: 35px auto;
}
.menu-texto p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 10px auto 35px 0;
}
.menu-platos h5 {
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  margin: 45px auto 0 auto;
}
.menu-platos {
  display: inline-block;
  text-align: center;
  margin: 10px 50px;
}
.div-plato{
  position: relative;
  display: inline-block;
  margin: 7px 5px 3px 5px;
  width: 250px;
  height: 160px;
  border-radius: 10%;
  border: 4px solid #333;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
}

.div-plato img,
.div-plato span {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  border-radius: 10%;
}
.div-plato img {
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 10;
}
.div-plato span {
  /*background-color: #333;*/
  text-align: center;
  width: 100%;
  height: 70%;
  opacity: 1;
  padding-top: 52px;
  font-family: 'Lobster', cursive;
  font-size: 1.8rem;
  z-index: 1;
}
.div-plato img:hover {
  opacity: 0.4;
}

/*ARMA TU COMBO*/
#combo {
  color: #35332B;
  display: inline-block;
}
#combo .arma-logo {
  display: inline-block;
  float: left;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  margin-left: 42px;
}
.arma-logo img {
  width: 100%;
  height: 100%;
}
#combo .arma-texto {
  display: inline-block;
  float: left;
  color: white;
  text-align: center;
  font-family: 'Lobster', cursive;
  width: 200px;
  height: 160px;
  margin-top: 70px;
  margin-left: 0;
}
.arma-texto span {
  text-align: center;
  margin:  40px 20px 20px 20px;
  font-size: 20px;
}
.arma-texto img {
  display: block;
  text-align: center;
  width: 100px;
  height: 100px;
  margin-left: 40px;
}
#combo .arma-elegidos {
  display: inline-block;
  text-align: center;
  float: left;
  border: 5px solid #333;
  color: white;
  width: 500px;
  height: 180px;
  border-radius: 5%;
  margin-top: 30px;
  margin-left: 0;
}
#combo .arma-elegidos img {
  display: inline-block;
  width: 190px;
  height: 130px;
  margin: 25px 10px 10px 10px;
  border-radius: 10%;
}
#combo .arma-precio {
  display: inline-block;
  text-align: center;
  float: left;
  color: white;
  font-family: 'Lobster', cursive;
  margin-top: 0;
  margin-left: 10px;
}
#combo .arma-precio h2 {
  font-size: 3rem;
  margin: 30px 10px 10px;;
}
#combo .arma-precio h5 {
  font-size: 2rem;
  margin: 30px auto 0 auto;
}
/*Fin LA CARTA*/

/*GIF*/
#gif {
  margin: 15px 5%;
  width: 90%;
  height: 300px;
  background-image: url(../images/animated.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
  text-align: center;
}
#gif h2 {
  font-family: 'Lobster', cursive;
  font-size: 5vw;
  margin: 45px auto 0 auto;
}
/*fin*/

/*UBÍCANOS*/
section #contacto{
  width: 100%;
}
/*Mapa*/
#contacto .ubicacion{
  width: 100%;
  margin: 50px 0;
  text-align: center;
}
.ubicacion h2 {
  font-family: 'Lobster', cursive;
  font-size: 2.5rem;
}
.mapa{
  margin: 0 auto;
}
.mapa img{
  width: 600px;
  border-radius: 20px;
  box-shadow:3px 3px 10px 2px lightgray;
}
/*Formulario de contacto*/
#contacto .form-contacto{
  background-color: #333;
  margin: 0 auto;
  width: 600px;
  border: 1px solid white;
  border-radius: 5%;
  padding: 10px 20px;
  box-sizing: border-box;
  text-align: center;
}
.form-contacto h2 {
  font-family: 'Lobster', cursive;
  font-size: 2.5rem;
}
.content-contacto{
  margin: 0 auto;
  margin: 10px 0;
  display: inline-block;
  text-align: center;
}
.content-contacto input{
  margin: 6px 0;
  width: 300px;
  height: 20px;
}
::placeholder{
  padding: 5px;
  color: rgb(106, 106, 106);
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}
.content-mensaje textarea{
  height: 130px;
}
.form-contacto .button-contact{
  text-align: center;
}
/*Validación*/
.tooltip span{
  display: none;
  background-color: rgba(102, 155, 231, 0.7);
  padding: 5px;
  position: absolute;
  left: 61%;
  margin-top: -33px;
  width: 220px;
  color: white;
  border-radius: 10px;
  transition: visibility 1 ease;
}
.tooltip span:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 10px solid rgba(102, 155, 231, 0.7);
  border-bottom: 5px solid transparent;
  position: absolute;
  right: 100%;
  top: 10px;
}
/*Fin UBÍCANOS*/

/*Social Menu Lateral*/
.social-menu{
  opacity: 0;
  transition: all 0.8s ease;
}
.social-menu ul{
  float: right;
  position: fixed;
  z-index: 3000;
  top: 25%;
  right: 15px;
  margin: 0;
}
.social-menu ul li{
  text-decoration: none;
  display: block;
  margin: 10px;
}
.social-menu ul li a{
  font-size: 2.5rem;
}
.social-menu ul li a:hover{
  color: rgba(102, 155, 231, 0.7);
}
/*Fin SOCIAL*/

/*FOOTER*/
footer{
  opacity: 1;
  bottom: 0;
  left: 0;
  right: 0;
  /*position: fixed;*/
  width: 100%;
  background-color: rgba(102, 155, 231, 0.7);
}
footer .contenedor-footer{
  margin: 0 auto;
  text-align: center;
}
.icons{
  margin: 20px 0;
  position: relative;
  top: 20px;
  font-size: 30px;
}
.icons a{
  text-decoration: none;
  color:white;
}
.text-footer{
  color: white;
  margin: 40px 0;
}
/*Fin FOOTER*/
